<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.apache.tomcat" level="info"/>
    <logger name="app.illl.xmsger" level="trace"/>
    <logger name="org.apache.http.headers" level="debug"/>
    <logger name="org.apache.http.wire" level="debug"/>
    <logger name="org.apache.http.impl.conn.DefaultHttpClientConnectionOperator" level="debug"/>
    <logger name="org.hibernate.SQL" level="trace"/>
    <logger name="org.hibernate.resource.jdbc.internal.AbstractLogicalConnectionImplementor" level="trace"/>
    <root level="info"/>
</configuration>